<!DOCTYPE html>
<html>
  <head>
    <title>StarlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class = "container">
      <header class = "header clearfix">
        <nav>
          <ul class = "top_menu clearfix">
            <li class = "right"><%=link_to "投稿一覧",posts_path%>
            <li class = "right"><%=link_to "投稿する",new_post_path%>
          </ul>
        </nav>
      </header>

      <div class="image_container">
        <%=image_tag "galaxy2.jpg", class: "image_area"%>
        <h1 class="centered_text">星ログ</h1>
      </div>

      <%= yield %>

      <footer class="footer">
          <p>Copyright ©2023 starlog.</p>
      </footer>

    </div>
  </body>
</html>
